body {
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(71, 77, 83);
    color: white;
}

h2:first-child:first-letter {
    color: rgb(238, 17, 91);
    font-family: Georgia;
    font-size: 50px;
    line-height: 30px;
    padding-top: 1px;
    padding-right: 8px;
    padding-left: 1px;
  }

h2 {
    color:rgb(223, 145, 171);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 20px
}

h3 {
    color: rgb(120, 197, 120);
    text-align: justify;
}

strong {
    color: yellow;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color:yellowgreen;
}

table {
    background-color: rgb(10, 10, 26);
}

img {
    width: 350px;
    height: 350px;
}


